.total-info{background: skyblue;}

li{border-bottom: 3px solid black;}
button{width: 100%;height: 30px;background: sandybrown;font-size: 25px;border:2px solid saddlebrown;border-radius: 20px;}
.danjia{color: red;}
